@tailwind base;
@tailwind components;
@tailwind utilities;

$colores:
(
    storm1: #CBD3E0,
	storm2: #92A3C1,
	storm3: #607298,
	storm4: #425177,
	storm5: #19294D,
    celesteArg : #75AADB,
    tonoBlanco1 : #FFFFFF,
    tonoBlanco2 : #F8F8F8,
    tonoBlanco3 : #CECECE,
    transpBajo: rgba(0, 0, 0, 0.3),
    transpMedio: rgba(0, 0, 0, 0.5),
    transpAlto: rgba(0, 0, 0, 0.9),
    transpGris: rgba(200, 200, 200, .9)

    
);

$fondoIcono : 50px;

html, body, #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

.logo{
    width: 120px;
    height: 80px;
    border-radius: 25%;
}

.headerLight {
    flex: 0 0 auto;
    background-color: map-get($colores,storm2);
}

.headerDark {
    flex: 0 0 auto;
    background-color: map-get($colores,storm4);
    color: white;
}

.mainLight {
    padding: 20px;
    flex: 1;
    background-color: map-get($colores,storm1);
}

.mainDark {
    padding: 20px;
    flex: 1;
    color: map-get($colores,tonoBlanco1);
    background-color: map-get($colores,storm5);
}

.footerLight {
    flex: 0 0 auto;
    justify-content: center;
    background-color: map-get($colores,celesteArg);

}

.footerDark {
    flex: 0 0 auto;
    justify-content: center;
    color: map-get($colores,tonoBlanco1);
    background-color: map-get($colores,storm4);

}

.active {
    font-size: 120%;
    font-weight: bold;
}

#botonDL {
    position: relative;
    background-color: map-get($colores,tonoBlanco2);
    width: 60px;
    height: 30px;
    box-shadow: inset 4px 4px 6px map-get($colores,tonoBlanco3),
                inset -4px -4px 6px map-get($colores,tonoBlanco1);
    border-radius: 20px;
}

.toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    transform: scale(.7);
    background-color: map-get($colores,storm1);
    border-radius: 20px;
    box-shadow: 3px 3px 8px map-get($colores,storm1),
                -3px -3px 8px map-get($colores,storm2);
}

#botonDL .toggle.active {
    left : 30px;
    background-color: map-get($colores,storm2);
}

.carritoLight {
    padding: 5px;
    background-color: map-get($colores,storm1);
    border-radius: 50%;
}
.carritoDark {
    padding: 5px;
    background-color: map-get($colores,storm2);
    color: black;
    border-radius: 50%;
}

.tarjetaLight {
background-color: map-get($colores,storm2);
}

.tarjetaDark {
    background-color: map-get($colores,storm4);
    }

.catTarLight {
    color: map-get($colores,storm5);
}
.catTarDark {
    color: map-get($colores,storm1);
}

.numero-formateado {
    font-family: monospace;
    unicode-bidi: bidi-override;
}

.botDet {
    margin-left: auto; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10%;
    display: block;
    background-color: map-get($colores,storm3);
}

.itemCount {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: map-get($colores,celesteArg);
}
.itemCountButton {
    font-weight: 800;
}
.tituloImpact {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}