@tailwind base;
@tailwind components;
@tailwind utilities;

$colores:
(
    storm1: #CBD3E0,
	storm2: #92A3C1,
	storm3: #607298,
	storm4: #425177,
	storm5: #19294D,
    celesteArg : #75AADB,
    blancoIC : #FFFFFF,
    transpBajo: rgba(0, 0, 0, 0.3),
    transpMedio: rgba(0, 0, 0, 0.5),
    transpAlto: rgba(0, 0, 0, 0.9),
    transpGris: rgba(200, 200, 200, .9)
);

$fondoIcono : 50px;

html, body, #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    background-color: map-get($colores,storm3);
}

.logo{
    width: 120px;
    height: 80px;
    border-radius: 25%;
}

.carrito {
    padding: 5px;
    background-color: map-get($colores,storm1);
    border-radius: 50%;
}